:root {
    --accent: #fffcea;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--accent);
    padding: 2rem;
    text-align: right;
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    justify-content: space-between;
    margin: 0 0.5rem;
}

main {
    padding: 2rem;
}

main img{
    float: right;
    width: 30%;
    height: auto;
    object-fit: cover;
}


